.linksWrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin-bottom: 18px;
    align-items: center;
    flex-wrap: wrap;
}

.linkButton {
    width: 100px;
    height: 30px;
    border-radius: 210px;
    opacity: 1;

    background: rgba(216, 216, 216, 0.3);

    border: 1px solid;
    border-image: linear-gradient(180deg, #FFFFFF 5%, #888888 100%) 1;

    backdrop-filter: blur(2px);
    box-shadow: inset 0px 0px 7px 0px rgba(255, 255, 255, 0.3);

    stroke: none;
}

.linkButton:hover {}

@media (prefers-color-scheme: dark) {
    .linkButton {}

    .linkButton:hover {}
}

@media screen and (min-width: 768px) {
    .linkButton {}
}