.text {
  padding-top: 40px;
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.version {
  font-size: 16px;
  color: rgb(255, 255, 255);
}
@media (prefers-color-scheme: light) {
  .text {
    color: black;
  }
  .version {
    color: white;
  }
}
