.container {}

.button {
  font-family: "Space Grotesk", serif;
  background-color: #f2f2f2;
  padding: 2px 18px 2px 18px;
  border-radius: 16px;
  font-size: 16px;
  border: none;
  box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  place-self: center;
  margin-left: 4px;

  transition: all 0.2s ease-in;
}

.button:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

td {
  font-size: 14px;
  cursor: default;
  max-width: 150px;
  padding: 4px;
  font-family: "Space Grotesk", "Roboto", "Arial", serif;
}

table {
  border-bottom: gray 2px solid;
  margin-bottom: 12px;
}

.SkipTd {
  border: none;
}

.Service {
  width: 200px;
  max-width: 200px;
}

.ServiceType {
  width: 50px;
  border-bottom: 1px solid gray;
}

.ServicePrice {
  width: 50px;
  border-bottom: 1px solid gray;
  margin-bottom: 12px;
}

.ServiceTime {
  width: 50px;
}

.xService {
  width: 200px;
  max-width: 200px;
}

.xServicePrice {
  width: 75px;
  max-width: 75px;
  min-width: 50px;
  text-align: center;
}

.xServiceTime {
  width: 75px;
  max-width: 75px;
  min-width: 50px;
  text-align: center;

}

label {
  font-size: 26px;
  color: rgb(0, 0, 0);
  font-family: "Space Grotesk", "Roboto", "Arial", serif;
}

.TableContainer {
  margin-top: 16px;
}

.sectionOverview {
  margin-top: 2px;
  margin-bottom: 8px;
}

.sectionTitle {
  margin: 0px;
}

.fullBox {
  background-color: rgb(158, 184, 28);
  border: rgb(0, 0, 0) 2px solid;
  border-radius: 16px;
  padding: 8px;
  padding-bottom: 14px;

  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .infoText {
    width: 700px;
  }

  .button {
    font-size: 18px;
  }

  td {
    font-size: 16px;
  }

  tr {
    font-size: 16px;
  }

  label {
    font-size: 30px;
  }

  .fullBox {
    border-radius: 16px;
    padding: 8px;
    padding-bottom: 14px;

    margin-bottom: 16px;
  }

  .sectionTitle {
    font-size: 28px;
  }

  .sectionOverview {
    margin-top: 2px;
  }

  .Service {
    width: 400px;
    max-width: 400px;
  }

  .ServiceType {
    max-width: 100px;
    border-bottom: 1px solid gray;
  }

  .ServicePrice {
    width: 100px;
    border-bottom: 1px solid gray;
  }

  .ServiceTime {
    width: 100px;
  }

  .xService {
    width: 100%;
  }

  .xServicePrice {
    width: 150px;
    min-width: 150px;
    text-align: center;
  }

  .xServiceTime {
    width: 150px;
    min-width: 150px;
    text-align: center;

  }
}

@media (prefers-color-scheme: dark) {
  .fullBox {
    background-color: rgb(11, 56, 49);
    border: rgb(30, 124, 139) 2px solid;
  }

  .button {
    background-color: lightgray;
    color: black;
  }

  .button:hover {
    background-color: #1c1711;
    color: #f2f2f2;
    outline: #f2f2f2 solid 1px;
    box-shadow: inset 1px 1px 4px 0 rgba(255, 255, 255, 0.25), 0 4px 4px 0 rgba(255, 255, 255, 0.25);
  }

  label {
    color: lightgray;
  }
}