#root {
}

.Wrapper {
  display: flex;
  flex-direction: column;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 18px;

  position: sticky;
  top: 0px;
  z-index: 100;

  border-bottom: 2px solid #1c1711;
  padding-bottom: 4px;

  background: rgba(242, 242, 242, 0.4);
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
}

.LanguageSwitcher {
  color: #1c1711;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "SansNormal", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: none;
  transition: all 0.3s ease;
}

.LanguageSwitcher:hover {
  color: #f2f2f2;
  background: #1c1711;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.language-nav {
  position: relative;
}

@media (max-width: 768px) {
  .buttonBox {
    flex-wrap: wrap;
    gap: 8px;
    padding: 2px 2px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .LanguageSwitcher {
    font-size: 14px;
    padding: 4px 6px;
  }
}

.language-dropdown {
  position: relative;
  display: inline-block;

  border-radius: 16px;
}

.language-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;

  border: 2px solid #1c1711;
  border-radius: 16px;
  width: 45.5px;

  background-color: #ffffff0a;
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
}
.language-toggle:hover {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  color: #1c1711;

  border: 2px solid #1c1711;
  border-radius: 16px;
  background: #7d7d7db0;
}

.language-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff0a;
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  border-radius: 16px;
  align-items: flex-end;
  align-self: flex-end;
  border: 2px solid #1c1711;
}

.mobile-language-container {
  position: sticky;
  left: 900px;
  top: 35px;
  background: none;
  border-radius: none;
  z-index: 1000;
  width: 50px;
  animation: slideDown 0.3s ease;
}

.language-dropdown-menu .LanguageSwitcher {
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  border: none;
  border-radius: 12px;
  background: none;
  transition: all 0.3s ease;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.language-dropdown-menu .LanguageSwitcher:hover {
  background: #1c1711;
  color: #f2f2f2;
}

.mText {
  margin-left: auto;
  margin-bottom: 0;
  color: #1c1711;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-family: "SansNormal", Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: default;
}

@media (prefers-color-scheme: dark) {
  .mText {
    color: #f2f2f2;
  }

  .buttonBox {
    background-color: transparent;
    border-bottom: 2px solid #f2f2f2;
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
  }

  .LanguageSwitcher {
    color: #f2f2f2;
  }
  .LanguageSwitcher:hover {
    color: #1c1711;
    background: #f2f2f2;
  }

  .language-dropdown {
    position: relative;
    display: inline-block;

    border-radius: 16px;
  }

  .language-toggle {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;

    border: 2px solid #f2f2f2;
    border-radius: 16px;

    background-color: #ffffff0a;
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
  }
  .language-toggle:hover {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    color: #1c1711;

    border: 2px solid #f2f2f2;
    border-radius: 16px;
    background: #7d7d7db0;
  }

  .language-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff0a;
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    border-radius: 16px;
    align-items: flex-end;
    align-self: flex-end;
    border: 16px;
    border: 2px solid #f2f2f2;
  }

  .mobile-language-container {
    position: sticky;
    left: 900px;
    top: 35px;
    background: none;
    border-radius: none;
    z-index: 1000;
    width: 50px;
    animation: slideDown 0.3s ease;
  }

  .language-dropdown-menu .LanguageSwitcher {
    display: block;
    width: 100%;
    text-align: left;
    padding: 8px 12px;
    border: none;
    border-radius: 12px;
    background: none;
    transition: all 0.3s ease;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .language-dropdown-menu .LanguageSwitcher:hover {
    background: #f2f2f2;
    color: #1c1711;
  }
}
.SpaceSection {
  height: 50px;
}
