#root {}

.Wrapper {
  display: flex;
  flex-direction: column;
}


.buttonBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  position: sticky;
  top: 0px;

  border-bottom: 2px solid lightgray;
  padding-bottom: 4px;

  background: #f2f2f2 100%;
}

.LanguageSwitcher {
  font-family: "Space Grotesk", serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #000;

  border: none;
  background: none;

  margin-top: 0px;
  margin-right: 8px;
  padding: 0;

  transition: all 0.3s ease-in-out;
}

.LanguageSwitcher:hover {
  color: olive;
  background-color: aliceblue;
  cursor: pointer;
}

.mText {
  font-family: "Space Grotesk", serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000;

  border: none;
  background: none;


  margin-right: 8px;
  margin-bottom: 0px;
  margin-left: 16px;
  padding: 0;

  margin-left: auto;
  margin-right: 0;

  cursor: default;

}

@media (prefers-color-scheme: dark) {
  .mText {
    color: #f2f2f2;
  }

  .buttonBox {
    background-color: #1c1711;
  }

  .LanguageSwitcher {
    color: aliceblue;
  }
}