#root {
}

.Wrapper {
  display: flex;
  flex-direction: column;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 18px;

  position: sticky;
  top: 0px;
  z-index: 100;

  border-bottom: 2px solid #1c1711;
  padding-bottom: 4px;

  background: rgba(242, 242, 242, 0.4);
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
}

.LanguageSwitcher {
  color: #1c1711;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "SansNormal", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: none;
  transition: all 0.3s ease;
}

.LanguageSwitcher:hover {
  color: #f2f2f2;
  background: #1c1711;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.mText {
  margin-left: auto;
  margin-bottom: 0;
  color: #1c1711;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-family: "SansNormal", Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: default;
}

@media (prefers-color-scheme: dark) {
  .mText {
    color: #f2f2f2;
  }

  .buttonBox {
    background-color: transparent;
    border-bottom: 2px solid #f2f2f2;
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
  }

  .LanguageSwitcher {
    color: #f2f2f2;
    background: none;
  }
}
.SpaceSection {
  height: 50px;
}
