:root {
  color-scheme: light dark;
  max-width: 400px;
  place-self: center;
  background-color: #f2f2f2;

  display: flex;
  justify-content: center;
  margin: 0 auto;
}

body {
  font-family: "SansNormal", "Arial", sans-serif;
}

@font-face {
  font-family: 'SansNormal';
  src: url('./assets/ProductSans-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SansBold';
  src: url('./assets/ProductSans-Medium.ttf');
}

button {}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  padding: 0px 16px 0px 16px;

  display: flex;
  justify-content: center;
  margin: 0 auto;
}

p {
  font-size: 18px;
}

li {
  list-style: none;
  padding: 0;
}

ul {
  padding: 0;
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  :root {
    max-width: 800px;
  }

  body {
    border-color: black;
  }

  p {
    font-size: 20px;
  }

}

@media (prefers-color-scheme: dark) {

  :root {
    background-color: #141414;
  }

  body {}

  .LanguageSwitcher {
    color: aliceblue;
  }

}